<!DOCTYPE html>
<head>
    <title> page-accueil</title>
</head>
<html>
    <body>
        <div class="cd">
            <div >
                    <li > <img src="assets/logo2.jpg"  style=" width:170px; height:35px; margin-top:7px; margin-left:100px;"> </li>
                    <li style="margin-left:400px ; font-size:16px; "> <a routerLink="/page-accueil" style="text-decoration: none; color: white;">page-accueil </a></li>
                    <li style="margin-left: 35px; font-size: 16px; ;"><a routerLink ="/Interventions" style="text-decoration:  none;color: white; "> Interventions </a></li>
                    <li style="margin-left: 35px; font-size: 16px; "> <a routerLink="/Statisques" style="text-decoration:  none; color: white;">  Statistiques</a></li>
                    <li style="margin-left: 40px; font-size: 16px; "> <a routerLink="/Nos services" style="text-decoration:  none; color: white;">  Aides </a></li>
                    <li style="margin-left: 35px; font-size: 16px;"> <a routerLink="A propos" style="text-decoration:  none; color: white;">A propos </a></li>
                    <li style=" margin-left:35px; font-size: 16px;"> <a routerLink="/Mon compte" style="text-decoration:  none; color: white;">Mon compte  <img  src="assets/compte.png" style="height:15px; width: 15px; margin-left:10px;"></a></li>
                    
            </div>
        </div>
        <div class="yy">
           <div >
            <ul class="ma">
                <div class="call4" > <h3> <strong> Gestion des interventions </strong></h3> <div style="width:550px;margin-right:30px; text-align: justify; padding-top:30px; color: white"> Cette application permet à toutes personnes, étudiants comme personnels <br> de l'université 
                Saint Jean de pourvoir  ecrire et gerer ses interventions.</div> 
                <div class="oi">
                    <div class="call5" style="text-align:justify; margin-left: 50px;"> <img src=" assets/bd.jpg" style="height:40px; width: 40px; margin-left:80px; margin-top: 30px;">  <p style="margin-top:70px;"><strong style="text-align: center; color:rgb(150, 6, 6);padding-top:10px; margin-left:-110px; font-size:13px;"> <a routerLink ="/Interventions" style="text-decoration:  none;color:rgb(150, 6, 6) ">Demande d'interventions </a></strong> </p>
                     <img src="assets/fd.png" style="height: 40px; width: 40px;  margin-top:30px; margin-left:30px;"> <p style="margin-top: 70px;"><sTrong style="text-align: center; color:rgb(150, 6, 6); padding-top:20px; font-size: 13px; margin-left:-50px;" > <a routerLink ="/Statisques" style="text-decoration: none;color:rgb(150, 6, 6) "> Statistiques </a> </sTrong> </p> 
                    <img src="assets/bc.jpg" style="height: 40px; width: 40px;  margin-top: 30px; margin-left:60px;"> <p style="margin-top: 70px;"> <sTrong style="text-align: center; color:rgb(150, 6, 6); padding-top:20px; margin-left:-80px; font-size: 13px;"> <a routerLink ="/Interventions" style="text-decoration:none;color:rgb(150, 6, 6) ">Boite de reception </a></sTrong> </p> 
                </div>
                </div>
            </div>
                 <div class="call4"> <div style="padding-top:-200px; display: flex; flex-direction: row; " ><img src=" assets/ww.jpg" style="width:450px; height: 380px; padding-top:-200px; margin-left:-100px; border-radius:1900px;" > </div></div>
                </ul>
          </div>

        </div>


        <div class="sd">
            <h3 id="A PROPOS DE NOUS" style="text-align: center; margin-left:5px; color:rgb(10, 12, 10);font-size: 20px; padding-top:50px; font-size:25px;"> <strong> A PROPOS  DE NOUS</strong></h3>
           <div >
            <ul class="mi">
                <div class="call3" >  <h1 style="color: rgb(30, 30, 218);"> <strong> Bienvenue à Saint Jean  Ingénieur</strong> </h1> <div style="width:430px;margin-right:30px; text-align: justify; padding-top: 80px; color: black;">  
                    Saint Jean Ingénieur est une des quatre écoles de l’Institut Universitaire Saint Jean du Cameroun.  Crée en 2016 par les frères de la communauté Saint Jean, gestionnaires du Collège François Xavier Vogt sous la Direction actuelle du Père Jean Hervé. 
                     Deux cycles de formations sont proposés : le Cycle Ingénieur et un Cycle  Licence Master professionnels.   
                </div></div>
                 <div class="call3"> <div style="padding-top:-200px; display: flex; flex-direction: row;" ><img src="assets/Campus-1.jpg" style="width: 250pxpx; height:400px; padding-top:-200px;" > </div></div>
                </ul>
          </div>
        </div>


        <div class="ss">
            <h3 id="Nos Atouts" style="text-align: center; margin-left:5px; color:rgb(10, 12, 10);font-size: 20px; padding-top:50px; font-size:35px;"> <strong style="color: white;"> Nos <span class="nn" style="color: white;"> atouts</span> </strong></h3>
           <div >
            <ul class="me">
                 <div class="call2"> <div style=" display: flex; flex-direction: row; width: 500px;" ><img src="assets/image2.jpg" style="width:500pxpx; height:400px; padding:-300px;" > </div></div>

                 <div class="call2" >  <h1 style="color: rgb(30, 30, 218); font-size: 20px;"> <strong style="color: white;"> RAISONS D'ETRE DES NOTRES</strong> </h1> <div style="width:550px;margin-right:30px; text-align: justify; padding-top:50px; color: black;">  
                    <li> <img src="assets/cx.png"  style=" width:50px; height:50px; "> <p style=" margin-left: 80px; margin-top:-60px; color: white;"> Stages obligatoires (13 mois de stages cycle ingénieur, 6 mois de stages cycle licence professionnelle et 6 mois de stage cycles master professionnel) </p> </li>
                    <li> <img src="assets/hi.jpg"  style=" width:50px; height:50px; margin-top: 10px;"> <p style=" margin-left: 80px; margin-top:-60px; color: white;"> Double diplôme en France (EPF, 3il) et au Maroc (Universiapolis) et semestre international (France, Belgique, Maroc) </p></li>
                    <li> <img src="assets/di.jpg"  style=" width:50px; height:50px ;margin-top:30px;"> <p style=" margin-left: 80px; margin-top:-50px; color: white;" > Approche par compétences et pédagogie par projet </p></li>
                    <li> <img src="assets/sq.jpg"  style=" width:50px; height:50px; margin-top:50px;"> <p style=" margin-left: 80px; margin-top:-55px;color: white;"> Matériel pédagogique de pointe</li>
                    <li> <img src="assets/ca.png"  style=" width:50px; height:50px; margin-top:50px;"> <p style=" margin-left: 80px; margin-top:-55px;color: white;">Campus agréable, convivial et propice aux études </p> </li>
                    <li><img src="assets/vie.jpg"  style=" width:50px; height:50px; margin-top: 50px;">  <p style=" margin-left: 80px; margin-top:-55px;color: white;">Vie associative et culturelle riche </p></li>
                </div></div>
                </ul>
          </div>
        </div>


        <div class="st">
            <h4 id="Nos Atouts" style="text-align: center; margin-left:5px; color:rgb(10, 12, 10);font-size: 20px; padding-top:50px; font-size:35px;"> <strong> Nos <span class="nn"> partenaires</span> </strong> </h4>
            <p style="margin-right:250px; color: black;"> Saint Jean Ingénieur multiplie les partenaires avec des établissements d’enseignements supérieur camerounais et européens.</p>
           <div >
            <p style="color: rgb(150, 6, 6); margin-right:940px; font-size: 30px;"> Partenaires pédagogiques</p>
            <li style="margin-left:-200px;">
                <div style="margin-right:700px;"> <img src="assets/Navicat.png" style=" width:150px; height: 100px;" >  </div>
                <div style="margin-right:300px; margin-top:-95px;" > <img src="assets/NGOA.png" style=" width: 170px; height: 100px;" >  </div>
                <div style="margin-left:50px; margin-top:-95px;"> <img src="assets/ensp.png" style=" width: 100px; height: 100px;" >  </div>
                <div style="margin-left:490px; margin-top:-80px;"> <img src="assets/utt.png" style=" width: 130px; height: 70px;" >  </div>
                <div style="margin-left:850px; margin-top:-85px;"> <img src="assets/3IL.png"  style=" width: 100px; height: 100px;">  </div>
                <div style="margin-left:1300px; margin-top:-85px;"> <img src="assets/UMON.png" style=" width: 120px; height: 70px;" >  </div>
 

            <li style=" margin-top:160px; margin-left:-200px;">
                <div style="margin-right:700px; margin-top:-95px;" > <img src="assets/jetbrains.png" style=" width: 140px; height: 100px;" >  </div>
                <div style="margin-right:200px; margin-top:-95px;"> <img src="assets/ucjpg.jpg" style=" width: 100px; height: 100px;" >  </div>
                <div style="margin-left:320px; margin-top:-80px;"> <img src="assets/ONIGE.png" style=" width: 130px; height: 70px;" >  </div>
                <div style="margin-left:800px; margin-top:-85px;"> <img src="assets/gicam.jpg"  style=" width: 100px; height: 100px;">  </div>
                <div style="margin-left:1300px; margin-top:-85px;"> <img src="assets/EP.png " style=" width: 170px; height: 70px;" >  </div>


            </li>
          </div>

          <div style="margin-top:70px;  " >
            <p style="color: rgb(150, 6, 6); margin-left:-80px; font-size:30px; width:900px;"> Entreprises qui ont accueilli nos étudiants en stage</p>
            <li style="margin-left:-200px; margin-top:40px;">
                <div style="margin-right:700px;"> <img src="assets/CAMPOST.png" style=" width:120px; height: 100px;" >  </div>
                <div style="margin-right:300px; margin-top:-95px;" > <img src="assets/Camtel.png" style=" width: 130px; height: 100px;" >  </div>
                <div style="margin-left:50px; margin-top:-95px;"> <img src="assets/infogenie.png" style=" width: 100px; height: 100px;" >  </div>
                <div style="margin-left:490px; margin-top:-80px;"> <img src="assets/CRTV.png" style=" width: 130px; height: 70px;" >  </div>
                <div style="margin-left:850px; margin-top:-85px;"> <img src="assets/sopeca.png"  style=" width: 100px; height: 100px;">  </div>
                <div style="margin-left:1300px; margin-top:-85px;"> <img src="assets/evolving.png" style=" width: 120px; height: 70px;" >  </div>
 

            <li style=" margin-top:160px; margin-left:-200px;">
                <div style="margin-right:700px; margin-top:-95px;" > <img src="assets/Fake-express.jpg" style=" width: 140px; height: 100px;" >  </div>
                <div style="margin-right:200px; margin-top:-95px;"> <img src="assets/logo3.png" style=" width: 100px; height: 100px;" >  </div>
                <div style="margin-left:320px; margin-top:-80px;"> <img src="assets/logo-soci.png" style=" width: 100px; height: 70px;" >  </div>
                <div style="margin-left:800px; margin-top:-85px;"> <img src="assets/sopra-banking.png"  style=" width: 100px; height: 100px;">  </div>
                <div style="margin-left:1300px; margin-top:-85px;"> <img src="assets/yoomee.png " style=" width: 100px; height: 70px;" >  </div>


            </li>
          </div>
        </div>

        <div class="ga">
            <div style="display: flex; flex-direction: row;">
                <div  class="call9" style="text-align:justif; width: 230px; height: 250px;  color: white; "> <sTrong style="text-align: center ; font-style: italic; font-size: 20px;">Les Pages </sTrong> <br > > Qui sommes nous ? <br> > Cycle Licence Professionnelle <br> > CONTACTER NOUS </div>
                <div  class="call9" style="text-align:justif; width: 230px; height: 250px;  color: white; margin-left:-50px; "> <br > > Cycle Master Professionnel<br> > Cycle Master Professionnel </div>
                <div class ="call9"  style="text-align:justif; width:300px; height: 250px;  color: white; margin-left:460px;"> <sTrong style="text-align: center; font-size: 20px;">Retrouvez-nous sur Map</sTrong>  <br> <img src="assets/Contact.png" style=" width:250px; height:200px; margin-top:20px;" > </div>
            </div>  
    </div>

    <div style="height:60px; background-color: rgb(26, 26, 26)">
         <ul>
              <div style="margin-top:10px; color: white;"> Copyright@ Institut Saint Jean</div>
         </ul>
         <ul> 
            <div class ="call10"  style="text-align:justif;  margin-left:1000px; margin-top:-65px;"> <br > <li class="rond7">f</li> <li class="rond7">tw</li> <li class="rond7">g+</li> <li class="rond7"> in</li>  </div>
         </ul>
    </div>




    
 


    </body>
</html>

