<!DOCTYPE html>
<html>
    <body>
        <div class="cd">
            <div >
                    <li > <img src="assets/logo2.jpg"  style=" width:170px; height:35px; margin-top:7px; margin-left:120px;"> </li>
                    <li style="margin-left:400px ; font-size:16px; "> <a routerLink="/page-accueil" style="text-decoration: none; color: white;">page-accueil </a></li>
                    <li style="margin-left: 35px; font-size: 16px; ;"><a routerLink ="/Interventions" style="text-decoration:  none;color: white; "> Interventions </a></li>
                    <li style="margin-left: 35px; font-size: 16px; "> <a routerLink="/Statisques" style="text-decoration:  none; color: white;">  Statistiques</a></li>
                    <li style="margin-left: 40px; font-size: 16px; "> <a routerLink="/Nos services" style="text-decoration:  none; color: white;">  Aides </a></li>
                    <li style="margin-left: 35px; font-size: 16px;"> <a routerLink="A propos" style="text-decoration:  none; color: white;">A propos </a></li>
                    <li style=" margin-left:35px; font-size: 16px;"> <a routerLink="/Mon compte" style="text-decoration:  none; color: white;">Mon compte  <img  src="assets/compte.png" style="height:15px; width: 15px; margin-left:10px;"></a></li>
                    
            </div>
        </div>

      <div >
        <div class="uu">
            <li> <button style="border-radius: 20px; background-color: hsl(240, 78%, 65%); width:158px; margin-top:50px;margin-left:30px; font-size:13px;">  <a routerLink="/produit" style="color: white; text-decoration: none;"> <img src="assets/mai.jpg" style="width:15px; height:15px;margin-top: -2px; margin-right:5px;">Nouvelle demande </a></button></li>
            <li style="color: white; margin-top:30px;margin-left:15px;"> Eleve@institutsaintjean.org</li>
            <li style="margin-top:20px; color: white; margin-left:15px;"> Boite de reception 
                <div class="cercle">
                    <div style="color:white;"> 3</div>
                </div>
            </li>
            <li style="color: white; margin-left: 15px; margin-top:16px;"> Demandes envoyées</li> <br>
            <li style="color: white; margin-left: 15px; margin-top:16px;">Demandes traitées</li> <br>
            <li style="color: white; margin-left: 15px; margin-top:16px;"> Brouillons</li>
        </div>
       
      </div>
      
</body>
</html>



